workflows/concert-intelligence-agent.json
{
  "name": "concert-intelligence-agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        5664,
        2800
      ],
      "id": "31dd2643-c123-4d49-aefb-a62699bda138",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "recentlyPlayed"
      },
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        5888,
        2528
      ],
      "id": "8b5f4598-f96f-42ab-b78e-729b830a745a",
      "name": "Get the recently played tracks",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "DYX2e4Iy4Laa0AiF",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.spotify.com/v1/me/top/artists?time_range=short_term&limit=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5888,
        2720
      ],
      "id": "302279c5-abbb-48c2-bc3c-157a2f865c4b",
      "name": "Fave Artist Short Term",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "DYX2e4Iy4Laa0AiF",
          "name": "Spotify account"
        },
        "oAuth2Api": {
          "id": "D3NEl7XaR1b3Z0mg",
          "name": "Spotify Top Artists"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.spotify.com/v1/me/top/artists?time_range=medium_term&limit=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5888,
        2912
      ],
      "id": "7eda31a4-21ef-4428-bb1f-fc6ea0477f00",
      "name": "Fave Artist Medium Term",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "DYX2e4Iy4Laa0AiF",
          "name": "Spotify account"
        },
        "oAuth2Api": {
          "id": "D3NEl7XaR1b3Z0mg",
          "name": "Spotify Top Artists"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.spotify.com/v1/me/top/artists?time_range=long_term&limit=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5888,
        3104
      ],
      "id": "4aa80427-6ba2-4db4-8209-a583cc42efa6",
      "name": "Fave Artist Long Term",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "DYX2e4Iy4Laa0AiF",
          "name": "Spotify account"
        },
        "oAuth2Api": {
          "id": "D3NEl7XaR1b3Z0mg",
          "name": "Spotify Top Artists"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rpRaw = $('Get the recently played tracks').all();\nconst recentlyPlayed = rpRaw.map(item => item.json);\nconst shortTerm = $('Fave Artist Short Term').first().json.items || [];\nconst mediumTerm = $('Fave Artist Medium Term').first().json.items || [];\nconst longTerm = $('Fave Artist Long Term').first().json.items || [];\n\nconst recentMap = {};\nfor (const track of recentlyPlayed) {\n  const artist = track.track.artists[0];\n  const playedAt = new Date(track.played_at);\n  if (!recentMap[artist.id]) {\n    recentMap[artist.id] = { last_played_at: playedAt, play_count: 0 };\n  }\n  if (playedAt > recentMap[artist.id].last_played_at) {\n    recentMap[artist.id].last_played_at = playedAt;\n  }\n  recentMap[artist.id].play_count++;\n}\n\nfunction normalizeName(name) {\n  return name\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/\\s*[\\(\\[].*?[\\)\\]]\\s*/g, '')\n    .replace(/\\bfeat\\.?\\b.*$/i, '')\n    .replace(/\\bft\\.?\\b.*$/i, '')\n    .trim();\n}\n\nconst artistMap = {};\n\nfunction addArtist(artist, termKey, rank) {\n  if (!artistMap[artist.id]) {\n    artistMap[artist.id] = {\n      id: artist.id,\n      name: artist.name,\n      name_normalized: normalizeName(artist.name),\n      genres: artist.genres || [],\n      short_term_rank: null,\n      medium_term_rank: null,\n      long_term_rank: null,\n      last_played_at: null,\n      days_since_played: 999,\n      recent_play_count: 0,\n    };\n  }\n  artistMap[artist.id][termKey] = rank;\n}\n\nshortTerm.forEach((a, i) => addArtist(a, 'short_term_rank', i + 1));\nmediumTerm.forEach((a, i) => addArtist(a, 'medium_term_rank', i + 1));\nlongTerm.forEach((a, i) => addArtist(a, 'long_term_rank', i + 1));\n\nconst now = new Date();\nfor (const [id, data] of Object.entries(recentMap)) {\n  if (artistMap[id]) {\n    artistMap[id].last_played_at = data.last_played_at.toISOString();\n    artistMap[id].days_since_played = Math.floor((now - data.last_played_at) / (1000 * 60 * 60 * 24));\n    artistMap[id].recent_play_count = data.play_count;\n  }\n}\n\nconst artists = Object.values(artistMap).sort((a, b) => {\n  const aRank = a.short_term_rank ?? a.medium_term_rank ?? a.long_term_rank ?? 999;\n  const bRank = b.short_term_rank ?? b.medium_term_rank ?? b.long_term_rank ?? 999;\n  return aRank - bRank;\n});\n\nreturn artists.map(a => ({ json: a }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6336,
        2800
      ],
      "id": "2851cf0b-3b1a-46fb-9a9d-8e914ad40516",
      "name": "Build Artist Profile"
    },
    {
      "parameters": {
        "jsCode": "// Reset per-execution Ticketmaster match accumulator before building search windows.\nconst workflowStaticData = $getWorkflowStaticData('global');\nworkflowStaticData.ticketmasterMatchedConcerts = [];\nworkflowStaticData.ticketmasterSeenConcertKeys = [];\n\n// Ticketmaster caps paging depth: page * size must be less than 1,000.\n// Split the 6-month search into monthly windows and fetch pages 0-4 for each.\nconst MONTHS_AHEAD = 6;\nconst MAX_PAGES_PER_WINDOW = 5;\n\nfunction toTmDate(date) {\n  return date.toISOString().split('.')[0] + 'Z';\n}\n\nconst now = new Date();\nconst end = new Date(now);\nend.setMonth(end.getMonth() + MONTHS_AHEAD);\n\nconst windows = [];\nlet cursor = new Date(now);\nwhile (cursor < end) {\n  const windowStart = new Date(cursor);\n  const windowEnd = new Date(cursor);\n  windowEnd.setMonth(windowEnd.getMonth() + 1);\n  if (windowEnd > end) windowEnd.setTime(end.getTime());\n\n  for (let page = 0; page < MAX_PAGES_PER_WINDOW; page++) {\n    windows.push({\n      json: {\n        page,\n        startDateTime: toTmDate(windowStart),\n        endDateTime: toTmDate(windowEnd),\n      },\n    });\n  }\n\n  cursor = windowEnd;\n}\n\nreturn windows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5664,
        3296
      ],
      "id": "a47f9c68-2d20-45f3-8fda-ticketmaster-pages",
      "name": "Build Ticketmaster Search Windows"
    },
    {
      "parameters": {
        "url": "https://app.ticketmaster.com/discovery/v2/events.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.TICKETMASTER_API_KEY}}"
            },
            {
              "name": "latlong",
              "value": "40.6928,-73.9903"
            },
            {
              "name": "radius",
              "value": "50"
            },
            {
              "name": "unit",
              "value": "miles"
            },
            {
              "name": "classificationName",
              "value": "music"
            },
            {
              "name": "size",
              "value": "200"
            },
            {
              "name": "startDateTime",
              "value": "={{ $json.startDateTime }}"
            },
            {
              "name": "endDateTime",
              "value": "={{ $json.endDateTime }}"
            },
            {
              "name": "sort",
              "value": "date,asc"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        },
        "options": {
          "ignoreResponseCode": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6112,
        3296
      ],
      "id": "b61f3391-e93d-480c-84c0-d2814fd8cd03",
      "name": "TicketMaster Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6560,
        2800
      ],
      "id": "1bd07296-f5fc-4d98-8247-c0264c1f16c9",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7008,
        2800
      ],
      "id": "4f7403d9-f821-42f0-b2b1-96e6af4d9558",
      "name": "Wait",
      "webhookId": "8d90e9d5-3743-43c5-91ac-d828f2afa87d",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://rest.bandsintown.com/artists/{{ encodeURIComponent($json.name) }}/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "concert-intelligence-agent"
            },
            {
              "name": "date",
              "value": "upcoming"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6784,
        2736
      ],
      "id": "8f4224ff-3007-4374-a3cb-3693042a42d5",
      "name": "Request Bandsintown Evens",
      "disabled": true
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6112,
        2768
      ],
      "id": "6aa54a4f-1557-4f20-b8ee-20b66689b88e",
      "name": "Merge Spotify Data"
    },
    {
      "parameters": {
        "jsCode": "// Get the Spotify artist profile from the Build Artist Profile node\nconst artists = $('Build Artist Profile').all().map(item => item.json);\n\n// Match only the current compact Ticketmaster page.\n// The loop stores only matched concerts, which keeps n8n Cloud memory low.\nconst inputItems = $input.all().map(item => item.json);\nif (inputItems.every(item => item.__ticketmasterLoopControl)) {\n  return [{ json: { __ticketmasterLoopControl: true } }];\n}\nconst events = inputItems.filter(item => !item.__ticketmasterLoopControl);\n\n// User location (Downtown Brooklyn) for haversine distance\nconst USER_LAT = 40.6928;\nconst USER_LNG = -73.9903;\n\nfunction haversineMiles(lat1, lng1, lat2, lng2) {\n  const R = 3958.8;\n  const toRad = d => d * Math.PI / 180;\n  const dLat = toRad(lat2 - lat1);\n  const dLng = toRad(lng2 - lng1);\n  const a = Math.sin(dLat / 2) ** 2\n          + Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) * Math.sin(dLng / 2) ** 2;\n  return R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n}\n\nfunction normalizeName(name) {\n  return String(name || '')\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/\\s*[\\(\\[].*?[\\)\\]]\\s*/g, '')\n    .replace(/\\bfeat\\.?\\b.*$/i, '')\n    .replace(/\\bft\\.?\\b.*$/i, '')\n    .replace(/&/g, ' and ')\n    .replace(/[^a-z0-9]+/g, ' ')\n    .trim();\n}\n\nfunction levenshtein(a, b) {\n  if (a === b) return 0;\n  if (!a.length) return b.length;\n  if (!b.length) return a.length;\n  const dp = Array.from({ length: a.length + 1 }, () => new Array(b.length + 1).fill(0));\n  for (let i = 0; i <= a.length; i++) dp[i][0] = i;\n  for (let j = 0; j <= b.length; j++) dp[0][j] = j;\n  for (let i = 1; i <= a.length; i++) {\n    for (let j = 1; j <= b.length; j++) {\n      dp[i][j] = a[i - 1] === b[j - 1]\n        ? dp[i - 1][j - 1]\n        : 1 + Math.min(dp[i - 1][j], dp[i][j - 1], dp[i - 1][j - 1]);\n    }\n  }\n  return dp[a.length][b.length];\n}\n\nconst artistByNormalized = {};\nfor (const a of artists) {\n  artistByNormalized[a.name_normalized || normalizeName(a.name)] = a;\n}\n\nfunction findMatch(eventArtistName) {\n  const normalized = normalizeName(eventArtistName);\n  if (artistByNormalized[normalized]) return artistByNormalized[normalized];\n  for (const a of artists) {\n    const artistNormalized = a.name_normalized || normalizeName(a.name);\n    if (normalized.length < 8 || artistNormalized.length < 8) continue;\n    const dist = levenshtein(normalized, artistNormalized);\n    const maxLen = Math.max(normalized.length, artistNormalized.length);\n    if (dist <= 1 && dist / maxLen <= 0.15) return a;\n  }\n  return null;\n}\n\nconst workflowStaticData = $getWorkflowStaticData('global');\nif (!Array.isArray(workflowStaticData.ticketmasterMatchedConcerts)) workflowStaticData.ticketmasterMatchedConcerts = [];\nif (!Array.isArray(workflowStaticData.ticketmasterSeenConcertKeys)) workflowStaticData.ticketmasterSeenConcertKeys = [];\nconst matched = [];\nconst seenConcertKeys = new Set(workflowStaticData.ticketmasterSeenConcertKeys);\nfor (const ev of events) {\n  const attractions = ev.attractions || [];\n  const headlinerName = attractions[0]?.name || ev.name || null;\n  const venue = ev.venue || {};\n  const venueLat = parseFloat(venue.latitude);\n  const venueLng = parseFloat(venue.longitude);\n  const distance = (Number.isFinite(venueLat) && Number.isFinite(venueLng))\n    ? Math.round(haversineMiles(USER_LAT, USER_LNG, venueLat, venueLng) * 10) / 10\n    : null;\n\n  const matchesForEvent = [];\n  const seenArtistIds = new Set();\n  attractions.forEach((att, index) => {\n    const artist = findMatch(att.name);\n    if (!artist || seenArtistIds.has(artist.id)) return;\n    seenArtistIds.add(artist.id);\n    matchesForEvent.push({\n      artist,\n      matchedName: att.name,\n      matchType: 'attraction',\n      isOpener: index > 0,\n    });\n  });\n\n  for (const match of matchesForEvent) {\n    const matchedArtist = match.artist;\n    const eventId = matchesForEvent.length > 1\n      ? 'tm:' + ev.id + ':' + matchedArtist.id\n      : 'tm:' + ev.id;\n    const concertKey = [\n      matchedArtist.id,\n      ev.date,\n      normalizeName(venue.name),\n    ].join('|');\n    if (seenConcertKeys.has(concertKey)) continue;\n    seenConcertKeys.add(concertKey);\n\n    matched.push({\n      event_id: eventId,\n      source: 'ticketmaster',\n      artist_id: matchedArtist.id,\n      artist_name: matchedArtist.name,\n      artist_name_matched: match.matchedName,\n      match_type: match.matchType,\n      headliner_name: headlinerName,\n      is_opener: match.isOpener,\n      date: ev.date,\n      venue_name: venue.name || null,\n      venue_city: venue.city || null,\n      venue_state: venue.state || null,\n      venue_lat: Number.isFinite(venueLat) ? venueLat : null,\n      venue_lng: Number.isFinite(venueLng) ? venueLng : null,\n      distance_miles: distance,\n      ticket_url: ev.url || null,\n      price_min: ev.priceMin,\n      price_max: ev.priceMax,\n      on_sale: ev.status === 'onsale',\n      days_since_played: matchedArtist.days_since_played,\n      short_term_rank: matchedArtist.short_term_rank,\n      medium_term_rank: matchedArtist.medium_term_rank,\n      long_term_rank: matchedArtist.long_term_rank,\n      recent_play_count: matchedArtist.recent_play_count,\n    });\n  }\n}\n\nif (matched.length > 0) {\n  workflowStaticData.ticketmasterMatchedConcerts.push(...matched);\n  workflowStaticData.ticketmasterSeenConcertKeys = Array.from(seenConcertKeys);\n}\n\n// Always return one item so the loop advances to the Wait node, even when a page has no matches.\nreturn [{ json: { __ticketmasterLoopControl: true, matched_count: matched.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6560,
        3296
      ],
      "id": "7f6434a7-8989-4d93-95c3-03f86ed1619d",
      "name": "Match Concerts to Artists"
    },
    {
      "parameters": {
        "jsCode": "// Venue fit tier list — personalized to user preference for small/indie venues\nconst VENUE_TIERS = {\n  // 10 points: DIY / intimate (~200-500 cap)\n  \"brooklyn made\": 10,\n  \"baby's all right\": 10,\n  \"union pool\": 10,\n  \"sultan room\": 10,\n  \"saint vitus\": 10,\n  \"tv eye\": 10,\n  \"market hotel\": 10,\n  \"trans-pecos\": 10,\n  \"public records\": 10,\n\n  // 7 points: mid-sized indie (~500-1500 cap)\n  \"music hall of williamsburg\": 7,\n  \"bowery ballroom\": 7,\n  \"mercury lounge\": 7,\n  \"knockdown center\": 7,\n  \"elsewhere\": 7,\n  \"brooklyn paramount\": 7,\n  \"le poisson rouge\": 7,\n  \"(le) poisson rouge\": 7,\n\n  // 5 points: larger but acceptable (~1500-3000 cap)\n  \"brooklyn steel\": 5,\n  \"webster hall\": 5,\n  \"warsaw\": 5,\n  \"kings theatre\": 5,\n  \"beacon theatre\": 5,\n  \"terminal 5\": 5,\n  \"brooklyn mirage\": 5,\n\n  // 1 point: large arenas/stadiums (actively dispreferred)\n  \"madison square garden\": 1,\n  \"barclays center\": 1,\n  \"metlife stadium\": 1,\n  \"prudential center\": 1,\n  \"forest hills stadium\": 1,\n  \"radio city music hall\": 1,\n};\nconst VENUE_DEFAULT = 3;\n\n// Score one event\nfunction scoreEvent(ev) {\n  // --- Recency (max 30)\n  let recency = 0;\n  const dsp = ev.days_since_played;\n  if (dsp === 0) recency = 30;\n  else if (dsp <= 7) recency = 25;\n  else if (dsp <= 30) recency = 15;\n  else if (dsp <= 90) recency = 5;\n  else recency = 0;\n\n  // --- Frequency (max 25)\n  const base = Math.min((ev.recent_play_count || 0) * 2, 15);\n  let rank_bonus = 0;\n  if (ev.short_term_rank != null) rank_bonus += ev.short_term_rank <= 10 ? 10 : 5;\n  if (ev.medium_term_rank != null) rank_bonus += ev.medium_term_rank <= 10 ? 5 : 3;\n  if (ev.long_term_rank != null) rank_bonus += ev.long_term_rank <= 10 ? 3 : 1;\n  const frequency = Math.min(base + rank_bonus, 25);\n\n  // --- Distance (max 20)\n  let distance = 10;\n  const d = ev.distance_miles;\n  if (d != null) {\n    if (d <= 5) distance = 20;\n    else if (d <= 15) distance = 15;\n    else if (d <= 30) distance = 10;\n    else if (d <= 50) distance = 5;\n    else distance = 0;\n  }\n\n  // --- Price (max 15)\n  let price = 8;\n  const p = ev.price_min;\n  if (p != null) {\n    if (p <= 50) price = 15;\n    else if (p <= 100) price = 10;\n    else if (p <= 200) price = 5;\n    else price = 0;\n  }\n\n  // --- Venue fit (max 10)\n  const venueKey = (ev.venue_name || \"\").toLowerCase().trim();\n  const venue = VENUE_TIERS[venueKey] ?? VENUE_DEFAULT;\n\n  const total = recency + frequency + distance + price + venue;\n\n  return {\n    ...ev,\n    concert_score: total,\n    score_breakdown: {\n      recency,\n      frequency,\n      distance,\n      price,\n      venue,\n    },\n  };\n}\n\n// Score only the concerts accumulated during the Ticketmaster loop.\n// The matcher writes compact matched concerts here per page, avoiding one huge event load.\nconst workflowStaticData = $getWorkflowStaticData('global');\nconst seen = new Set();\nconst events = (workflowStaticData.ticketmasterMatchedConcerts || [])\n  .filter(ev => {\n    const key = ev.event_id || [ev.artist_id, ev.date, ev.venue_name].join('|');\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\nworkflowStaticData.ticketmasterMatchedConcerts = [];\nworkflowStaticData.ticketmasterSeenConcertKeys = [];\nconst scored = events.map(scoreEvent);\nscored.sort((a, b) => b.concert_score - a.concert_score);\nreturn scored.map(s => ({ json: s }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6112,
        3296
      ],
      "id": "82253101-db4a-4909-a181-f2bfa3eff291",
      "name": "Score Concerts"
    },
    {
      "parameters": {
        "jsCode": "const THRESHOLD = 40;\n\n// De-dupe against Notion (the durable source of truth) instead of workflow\n// static data, which n8n Cloud wipes on re-save / version change.\n// NOTE: verify the property paths in getProp() against the actual\n// \"Get Notion Pages\" output and adjust if your node returns a different shape.\nfunction getProp(page, name) {\n  // n8n's Notion node flattens props as property_<snake_case_name>;\n  // dates come back as { start, end, time_zone }. Page id is at page.id.\n  const key = 'property_' + name.toLowerCase().replace(/[^a-z0-9]+/g, '_').replace(/^_+|_+$/g, '');\n  let v = page[key];\n  if (v === undefined) v = page[name];\n  if (v === undefined && page.properties) v = page.properties[name];\n  if (v == null) return undefined;\n  if (typeof v === 'object') {\n    if ('start' in v) return v.start;\n    if ('checkbox' in v) return v.checkbox;\n    if ('rich_text' in v) return (v.rich_text || []).map(t => t.plain_text || '').join('');\n    if ('number' in v) return v.number;\n    if ('name' in v) return v.name;\n    return v;\n  }\n  return v;\n}\n\nconst existingPages = $('Get Notion Pages').all().map(i => i.json);\nconst alertedIds = new Set();\nfor (const p of existingPages) {\n  const eid = getProp(p, 'Event ID');\n  if (eid && getProp(p, 'Alerted')) alertedIds.add(eid);\n}\n\nconst scored = $('Attach Previews').all().map(item => item.json);\nconst above = scored.filter(ev => ev.concert_score >= THRESHOLD);\nconst newEvents = above.filter(ev => !alertedIds.has(ev.event_id));\n\nif (newEvents.length === 0) {\n  return [{ json: { hasNew: false, count: 0, emailHtml: '' } }];\n}\nfunction formatDate(iso) {\n  if (!iso) return 'TBD';\n  const d = new Date(iso);\n  return d.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', timeZone: 'America/New_York' });\n}\nfunction calendarUrl(ev) {\n  const title = encodeURIComponent(ev.artist_name + ' at ' + (ev.venue_name || 'TBD'));\n  const loc = encodeURIComponent((ev.venue_name || '') + ', ' + (ev.venue_city || '') + ', ' + (ev.venue_state || ''));\n  const details = encodeURIComponent('Score: ' + ev.concert_score + ' — ' + (ev.ticket_url || ''));\n\n  let startStr, endStr;\n  if (ev.date) {\n    const d = new Date(ev.date);\n    const utcHour = d.getUTCHours();\n    const utcMin = d.getUTCMinutes();\n    const isMidnightish = (utcHour === 0 && utcMin < 30) || (utcHour === 23 && utcMin >= 30);\n\n    if (isMidnightish) {\n      const etDate = new Date(d.toLocaleString('en-US', { timeZone: 'America/New_York' }));\n      const yr = etDate.getFullYear();\n      const mo = String(etDate.getMonth() + 1).padStart(2, '0');\n      const dy = String(etDate.getDate()).padStart(2, '0');\n      startStr = `${yr}${mo}${dy}T200000`;\n      endStr   = `${yr}${mo}${dy}T230000`;\n    } else {\n      const fmt = (n) => String(n).padStart(2, '0');\n      const yr = d.getUTCFullYear();\n      const mo = fmt(d.getUTCMonth() + 1);\n      const dy = fmt(d.getUTCDate());\n      const hr = fmt(d.getUTCHours());\n      const mn = fmt(d.getUTCMinutes());\n      startStr = `${yr}${mo}${dy}T${hr}${mn}00Z`;\n      const endD = new Date(d.getTime() + 3 * 60 * 60 * 1000);\n      endStr = `${endD.getUTCFullYear()}${fmt(endD.getUTCMonth()+1)}${fmt(endD.getUTCDate())}T${fmt(endD.getUTCHours())}${fmt(endD.getUTCMinutes())}00Z`;\n    }\n  } else {\n    startStr = '20260101T200000';\n    endStr   = '20260101T230000';\n  }\n\n  return 'https://calendar.google.com/calendar/render?action=TEMPLATE&text=' + title + '&dates=' + startStr + '/' + endStr + '&location=' + loc + '&details=' + details;\n}\nlet html = '<h2 style=\"font-family:sans-serif;color:#1a1a1a;\">🎵 Concert Alerts</h2>';\nhtml += '<p style=\"font-family:sans-serif;color:#555;\">' + newEvents.length + ' new concert' + (newEvents.length > 1 ? 's' : '') + ' matched your listening profile:</p>';\nfor (const ev of newEvents) {\n  const artistLine = ev.is_opener\n    ? ev.artist_name + ' <span style=\"color:#888;\">(opening for ' + ev.headliner_name + ')</span>'\n    : ev.artist_name;\n  const price = ev.price_min != null ? '$' + ev.price_min : 'TBD';\n  const dist = ev.distance_miles != null ? ev.distance_miles + ' mi' : 'TBD';\n  const sb = ev.score_breakdown;\n  html += '<div style=\"font-family:sans-serif;border:1px solid #e0e0e0;border-radius:8px;padding:16px;margin:12px 0;\">';\n  html += '<h3 style=\"margin:0 0 4px 0;\">' + artistLine + '</h3>';\n  html += '<p style=\"margin:4px 0;color:#333;\">' + (ev.venue_name || 'TBD') + ', ' + (ev.venue_city || '') + '</p>';\n  html += '<p style=\"margin:4px 0;color:#333;\">' + formatDate(ev.date) + ' &middot; ' + dist + ' &middot; ' + price + '</p>';\n  html += '<p style=\"margin:8px 0 4px 0;font-weight:bold;font-size:18px;color:#2d7d46;\">Score: ' + ev.concert_score + '</p>';\n  html += '<p style=\"margin:0;color:#888;font-size:13px;\">recency ' + sb.recency + ' &middot; frequency ' + sb.frequency + ' &middot; distance ' + sb.distance + ' &middot; price ' + sb.price + ' &middot; venue ' + sb.venue + '</p>';\n  if (ev.setlist_preview && ev.setlist_preview !== 'No preview available.') {\n    html += '<p style=\"margin:10px 0 0 0;color:#555;font-style:italic;font-size:14px;line-height:1.4;\">🎤 ' + ev.setlist_preview + '</p>';\n  }\n  html += '<p style=\"margin:12px 0 0 0;\">';\n  html += '<a href=\"' + (ev.ticket_url || '#') + '\" style=\"background:#2d7d46;color:#fff;padding:8px 16px;border-radius:4px;text-decoration:none;margin-right:8px;\">Get Tickets</a>';\n  html += '<a href=\"' + calendarUrl(ev) + '\" style=\"background:#4285f4;color:#fff;padding:8px 16px;border-radius:4px;text-decoration:none;\">Add to Calendar</a>';\n  html += '</p></div>';\n}\nreturn [{ json: { hasNew: true, count: newEvents.length, emailHtml: html, subject: '🎵 ' + newEvents.length + ' new concert alert' + (newEvents.length > 1 ? 's' : '') } }];\n"
      },
      "id": "7f8598b6-848a-4adb-b758-f1cb161e3c56",
      "name": "Filter & De-dupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7904,
        3008
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2724cbeb-a99a-40b4-becf-64e676874150",
              "leftValue": "={{ $json.hasNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "953c4515-c28b-4b8e-a66a-fc8d060cebd6",
      "name": "Has New Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8128,
        3008
      ]
    },
    {
      "parameters": {
        "sendTo": "hire.reid.collins@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "237336d7-24e7-4fb2-b2a8-58452559ca81",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        8352,
        3008
      ],
      "webhookId": "eacc0e6a-76f2-45ec-8d46-dd0d0d12eb50",
      "credentials": {
        "gmailOAuth2": {
          "id": "UOoO7YKHTG3pHNUU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const CAL_THRESHOLD = 60;\n\n// De-dupe against Notion's \"On Calendar\" flag (durable source of truth)\n// rather than workflow static data. See getProp note in Filter & De-dupe.\nfunction getProp(page, name) {\n  // n8n's Notion node flattens props as property_<snake_case_name>;\n  // dates come back as { start, end, time_zone }. Page id is at page.id.\n  const key = 'property_' + name.toLowerCase().replace(/[^a-z0-9]+/g, '_').replace(/^_+|_+$/g, '');\n  let v = page[key];\n  if (v === undefined) v = page[name];\n  if (v === undefined && page.properties) v = page.properties[name];\n  if (v == null) return undefined;\n  if (typeof v === 'object') {\n    if ('start' in v) return v.start;\n    if ('checkbox' in v) return v.checkbox;\n    if ('rich_text' in v) return (v.rich_text || []).map(t => t.plain_text || '').join('');\n    if ('number' in v) return v.number;\n    if ('name' in v) return v.name;\n    return v;\n  }\n  return v;\n}\n\nconst existingPages = $('Get Notion Pages').all().map(i => i.json);\nconst calendaredIds = new Set();\nfor (const p of existingPages) {\n  const eid = getProp(p, 'Event ID');\n  if (eid && getProp(p, 'On Calendar')) calendaredIds.add(eid);\n}\n\nconst scored = $('Attach Previews').all().map(item => item.json);\nconst above = scored.filter(ev => ev.concert_score >= CAL_THRESHOLD);\nconst newEvents = above.filter(ev => !calendaredIds.has(ev.event_id));\n\nif (newEvents.length === 0) {\n  return [];\n}\n\nfunction shortDate(ymd) {\n  if (!ymd) return '';\n  const parts = String(ymd).slice(0, 10).split('-').map(Number);\n  const months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n  if (parts.length < 3 || !months[parts[1] - 1]) return '';\n  return months[parts[1] - 1] + ' ' + parts[2] + ', ' + parts[0];\n}\nconst results = newEvents.map(ev => {\n  let startDt, endDt;\n  const raw = ev.date || '';\n  const d = new Date(raw);\n\n  if (raw.includes('T00:00:00') || raw.includes('T00:00:00Z')) {\n    const utcDate = new Date(raw);\n    utcDate.setDate(utcDate.getDate() - 1);\n    const dateStr = utcDate.toISOString().slice(0, 10);\n    startDt = dateStr + 'T20:00:00';\n    endDt = dateStr + 'T23:00:00';\n  } else if (!isNaN(d.getTime())) {\n    startDt = d.toISOString().slice(0, 19);\n    const end = new Date(d.getTime() + 3 * 60 * 60 * 1000);\n    endDt = end.toISOString().slice(0, 19);\n  } else {\n    startDt = raw.slice(0, 10) + 'T20:00:00';\n    endDt = raw.slice(0, 10) + 'T23:00:00';\n  }\n\n  const baseTitle = ev.is_opener\n    ? `${ev.artist_name} (opening for ${ev.headliner_name}) at ${ev.venue_name || 'TBD'}`\n    : `${ev.artist_name} at ${ev.venue_name || 'TBD'}`;\n  const dateLabel = shortDate(startDt);\n  const title = dateLabel ? `${baseTitle} — ${dateLabel}` : baseTitle;\n\n  const location = [ev.venue_name, ev.venue_city, ev.venue_state].filter(Boolean).join(', ');\n  const price = ev.price_min != null ? `$${ev.price_min}` : 'TBD';\n  const dist = ev.distance_miles != null ? `${ev.distance_miles} mi` : 'TBD';\n  const sb = ev.score_breakdown;\n\n  const description = [\n    `🎵 Concert Score: ${ev.concert_score}/100`,\n    `recency ${sb.recency} · frequency ${sb.frequency} · distance ${sb.distance} · price ${sb.price} · venue ${sb.venue}`,\n    '',\n    `🎫 Tickets: ${ev.ticket_url || 'TBD'}`,\n    `💰 Price: ${price}`,\n    `📍 Distance: ${dist} from home`,\n    ''\n  ];\n\n  if (ev.setlist_preview && ev.setlist_preview !== 'No preview available.') {\n    description.push('🎤 What to expect:', ev.setlist_preview, '');\n  }\n\n  description.push('Added automatically by Concert Intelligence Agent');\n\n  return {\n    json: {\n      title,\n      location,\n      startDt,\n      endDt,\n      description: description.join('\\n'),\n      timeZone: 'America/New_York',\n      event_id: ev.event_id\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7904,
        3200
      ],
      "id": "34ca1d5d-af47-4071-a6eb-cc73624bb9f6",
      "name": "Calendar Prep"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hire.reid.collins@gmail.com",
          "mode": "list",
          "cachedResultName": "hire.reid.collins@gmail.com"
        },
        "start": "={{ $json.startDt }}",
        "end": "={{ $json.endDt }}",
        "additionalFields": {
          "description": "={{ $json.description }}",
          "location": "={{ $json.location }}",
          "summary": "={{ $json.title }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        8128,
        3200
      ],
      "id": "bd5643c0-fc85-4080-81cf-81df285cac86",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cmJW8DbFvCetfy1b",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build create-vs-update routing using existing Notion pages as source of truth.\n// Every matched event is emitted: brand-new ones are created, already-tracked\n// ones are updated (keeps Score / Alerted / On Calendar current run to run).\n// NOTE: verify getProp() paths against the real \"Get Notion Pages\" output.\nfunction getProp(page, name) {\n  // n8n's Notion node flattens props as property_<snake_case_name>;\n  // dates come back as { start, end, time_zone }. Page id is at page.id.\n  const key = 'property_' + name.toLowerCase().replace(/[^a-z0-9]+/g, '_').replace(/^_+|_+$/g, '');\n  let v = page[key];\n  if (v === undefined) v = page[name];\n  if (v === undefined && page.properties) v = page.properties[name];\n  if (v == null) return undefined;\n  if (typeof v === 'object') {\n    if ('start' in v) return v.start;\n    if ('checkbox' in v) return v.checkbox;\n    if ('rich_text' in v) return (v.rich_text || []).map(t => t.plain_text || '').join('');\n    if ('number' in v) return v.number;\n    if ('name' in v) return v.name;\n    return v;\n  }\n  return v;\n}\n\nconst existingPages = $('Get Notion Pages').all().map(i => i.json);\nconst byEventId = {};\nfor (const p of existingPages) {\n  const eid = getProp(p, 'Event ID');\n  if (!eid) continue;\n  byEventId[eid] = { pageId: p.id, discovered: getProp(p, 'Discovered') };\n}\n\nconst scored = $('Attach Previews').all().map(item => item.json);\n\nfunction fixDate(raw) {\n  if (!raw) return null;\n  if (raw.includes('T00:00:00') || raw.includes('T00:00:00Z')) {\n    const utcDate = new Date(raw);\n    utcDate.setDate(utcDate.getDate() - 1);\n    return utcDate.toISOString().slice(0, 10);\n  }\n  return raw.slice(0, 10);\n}\n\nfunction shortDate(ymd) {\n  if (!ymd) return '';\n  const parts = String(ymd).slice(0, 10).split('-').map(Number);\n  const months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n  if (parts.length < 3 || !months[parts[1] - 1]) return '';\n  return months[parts[1] - 1] + ' ' + parts[2] + ', ' + parts[0];\n}\nconst results = scored.map(ev => {\n  const baseTitle = ev.is_opener\n    ? `${ev.artist_name} (opening for ${ev.headliner_name}) at ${ev.venue_name || 'TBD'}`\n    : `${ev.artist_name} at ${ev.venue_name || 'TBD'}`;\n  const dateLabel = shortDate(fixDate(ev.date));\n  const title = dateLabel ? `${baseTitle} — ${dateLabel}` : baseTitle;\n\n  const sb = ev.score_breakdown;\n  const breakdown = `recency ${sb.recency} · freq ${sb.frequency} · dist ${sb.distance} · price ${sb.price} · venue ${sb.venue}`;\n  const city = [ev.venue_city, ev.venue_state].filter(Boolean).join(', ');\n  const today = new Date().toISOString().slice(0, 10);\n  const preview = (ev.setlist_preview && ev.setlist_preview !== 'No preview available.') ? ev.setlist_preview : '';\n\n  const existing = byEventId[ev.event_id];\n\n  return {\n    json: {\n      operation: existing ? 'update' : 'create',\n      pageId: existing ? existing.pageId : '',\n      concert: title,\n      date: fixDate(ev.date),\n      score: ev.concert_score,\n      artist: ev.artist_name,\n      venue: ev.venue_name || '',\n      city,\n      distance: ev.distance_miles,\n      price: ev.price_min,\n      breakdown,\n      openerFor: ev.is_opener ? ev.headliner_name : '',\n      tickets: ev.ticket_url || '',\n      alerted: ev.concert_score >= 40,\n      onCalendar: ev.concert_score >= 60,\n      eventId: ev.event_id,\n      discovered: (existing && existing.discovered) ? String(existing.discovered).slice(0, 10) : today,\n      preview\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7904,
        3392
      ],
      "id": "7cd22685-d811-47d8-bc5c-9faa9c566720",
      "name": "Notion Prep"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "a8fa3036-8a5b-4e6d-8e9b-cde5f572901a",
          "mode": "list",
          "cachedResultName": "Concert Tracker",
          "cachedResultUrl": "https://www.notion.so/a8fa30368a5b4e6d8e9bcde5f572901a"
        },
        "title": "={{ $json.concert }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Concert|title",
              "title": "={{ $json.concert }}"
            },
            {
              "key": "Score|number",
              "numberValue": "={{ $json.score }}"
            },
            {
              "key": "Status|select",
              "selectValue": "=Discovered"
            },
            {
              "key": "Artist|rich_text",
              "textContent": "={{ $json.artist }}"
            },
            {
              "key": "Venue|rich_text",
              "textContent": "={{ $json.venue }}"
            },
            {
              "key": "City|rich_text",
              "textContent": "={{ $json.city }}"
            },
            {
              "key": "Distance|number",
              "numberValue": "={{ $json.distance }}"
            },
            {
              "key": "Price|number",
              "numberValue": "={{ $json.price }}"
            },
            {
              "key": "Breakdown|rich_text",
              "textContent": "={{ $json.breakdown }}"
            },
            {
              "key": "Opener For|rich_text",
              "textContent": "={{ $json.openerFor }}"
            },
            {
              "key": "Tickets|url",
              "urlValue": "={{ $json.tickets }}"
            },
            {
              "key": "Event ID|rich_text",
              "textContent": "={{ $json.eventId }}"
            },
            {
              "key": "Alerted|checkbox",
              "checkboxValue": "={{ $json.alerted }}"
            },
            {
              "key": "On Calendar|checkbox",
              "checkboxValue": "={{ $json.onCalendar }}"
            },
            {
              "key": "Date|date",
              "includeTime": false,
              "date": "={{ $json.date }}"
            },
            {
              "key": "Discovered|date",
              "includeTime": false,
              "date": "={{ $json.discovered }}"
            },
            {
              "key": "Preview|rich_text",
              "textContent": "={{ $json.preview }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        8352,
        3296
      ],
      "id": "ab37238f-a690-4c32-af7e-da532c50a68d",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "5Y1pjUrEsph9KIVc",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const CACHE_TTL_DAYS = 30;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.setlistPreviews) staticData.setlistPreviews = {};\n\nconst events = $input.all().map(item => item.json);\nstaticData._scoredEvents = events; // stash for the end\n\nfunction isCacheFresh(entry) {\n  if (!entry || !entry.generatedAt) return false;\n  const age = (Date.now() - new Date(entry.generatedAt).getTime()) / (1000 * 60 * 60 * 24);\n  return age < CACHE_TTL_DAYS;\n}\n\n// Unique artists that need a fresh preview\nconst seen = {};\nconst artists = [];\nfor (const ev of events) {\n  if (seen[ev.artist_id]) continue;\n  seen[ev.artist_id] = true;\n\n  if (isCacheFresh(staticData.setlistPreviews[ev.artist_id])) continue; // skip cached\n\n  artists.push({\n    json: {\n      artist_id: ev.artist_id,\n      artist_name: ev.artist_name,\n      is_opener: ev.is_opener,\n      headliner_name: ev.headliner_name\n    }\n  });\n}\n\nreturn artists;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6560,
        3296
      ],
      "id": "e63cec27-663a-4cd6-9549-f398e493bc05",
      "name": "Setlist Prep",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.setlist.fm/rest/1.0/search/setlists?artistName={{ encodeURIComponent($json.artist_name) }}&p=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $vars.SETLIST_FM_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6784,
        3296
      ],
      "id": "7de8a827-063a-4148-9940-1f6ab4b0c84f",
      "name": "Setlist.fm Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Run Once for Each Item mode\nconst sfData = $json; // the Setlist.fm response for THIS artist\nconst artist = $('Setlist Prep').all()[$itemIndex].json;\n\nconst setlists = (sfData.setlist || []).slice(0, 5);\n\nlet prompt;\nif (setlists.length === 0) {\n  prompt = `Write exactly this sentence and nothing else: \"No recent setlist data available for ${artist.artist_name}.\"`;\n} else {\n  const formatted = setlists.map((sl, i) => {\n    const date = sl.eventDate || 'unknown date';\n    const venue = sl.venue?.name || 'unknown venue';\n    const sets = sl.sets?.set || [];\n    const songs = sets.map(s => {\n      const setName = s.name || (s.encore ? 'Encore' : 'Main Set');\n      return `  ${setName}: ${(s.song || []).map(x => x.name).filter(Boolean).join(', ')}`;\n    }).join('\\n');\n    return `Show ${i + 1} (${date}, ${venue}):\\n${songs}`;\n  }).join('\\n\\n');\n\n  const openerNote = artist.is_opener\n    ? `\\nNote: this artist is opening for ${artist.headliner_name}, so expect a shorter set (30-45 min).`\n    : '';\n\n  prompt = `You are a concert preview writer. Given these recent setlists for ${artist.artist_name}, write a 2-3 sentence preview of what to expect at their upcoming show. Focus on set length, key songs, and notable production. Be specific about song names. Concise and enthusiastic, like a knowledgeable friend. Output ONLY the preview itself with no preamble — start directly with the description.${openerNote}\\n\\nRecent setlists:\\n${formatted}`;\n}\n\nreturn { json: { artist_id: artist.artist_id, artist_name: artist.artist_name, prompt } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7008,
        3296
      ],
      "id": "938b8224-e718-406f-a901-07992fae2789",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"claude-sonnet-4-6\", max_tokens: 300, messages: [{ role: \"user\", content: $json.prompt }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7232,
        3296
      ],
      "id": "e89803be-669f-46f1-9b00-e667bce8a1f1",
      "name": "Claude Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst prompts = $('Build Prompt').all();\nconst claudeOut = $input.all();\n\nfor (let i = 0; i < prompts.length; i++) {\n  const aid = prompts[i].json.artist_id;\n  const text = claudeOut[i]?.json?.content?.[0]?.text || 'No preview available.';\n  staticData.setlistPreviews[aid] = { preview: text, generatedAt: new Date().toISOString() };\n}\n\nconst events = $('Score Concerts').all().map(item => item.json);\nconst enriched = events.map(ev => ({\n  json: {\n    ...ev,\n    setlist_preview: staticData.setlistPreviews[ev.artist_id]?.preview || 'No preview available.'\n  }\n}));\n\nreturn enriched;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7456,
        3296
      ],
      "id": "da93eb66-e7a1-4e7d-a6ee-9ac2d6ae2c33",
      "name": "Attach Previews"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "a8fa3036-8a5b-4e6d-8e9b-cde5f572901a",
          "mode": "list",
          "cachedResultName": "Concert Tracker",
          "cachedResultUrl": "https://www.notion.so/a8fa30368a5b4e6d8e9bcde5f572901a"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        7680,
        3296
      ],
      "id": "c8557de1-1b93-4f5f-9b1b-cef05edc53ec",
      "name": "Get Notion Pages",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "5Y1pjUrEsph9KIVc",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.pageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Concert|title",
              "title": "={{ $json.concert }}"
            },
            {
              "key": "Score|number",
              "numberValue": "={{ $json.score }}"
            },
            {
              "key": "Artist|rich_text",
              "textContent": "={{ $json.artist }}"
            },
            {
              "key": "Venue|rich_text",
              "textContent": "={{ $json.venue }}"
            },
            {
              "key": "City|rich_text",
              "textContent": "={{ $json.city }}"
            },
            {
              "key": "Distance|number",
              "numberValue": "={{ $json.distance }}"
            },
            {
              "key": "Price|number",
              "numberValue": "={{ $json.price }}"
            },
            {
              "key": "Breakdown|rich_text",
              "textContent": "={{ $json.breakdown }}"
            },
            {
              "key": "Opener For|rich_text",
              "textContent": "={{ $json.openerFor }}"
            },
            {
              "key": "Tickets|url",
              "urlValue": "={{ $json.tickets }}"
            },
            {
              "key": "Event ID|rich_text",
              "textContent": "={{ $json.eventId }}"
            },
            {
              "key": "Alerted|checkbox",
              "checkboxValue": "={{ $json.alerted }}"
            },
            {
              "key": "On Calendar|checkbox",
              "checkboxValue": "={{ $json.onCalendar }}"
            },
            {
              "key": "Date|date",
              "includeTime": false,
              "date": "={{ $json.date }}"
            },
            {
              "key": "Discovered|date",
              "includeTime": false,
              "date": "={{ $json.discovered }}"
            },
            {
              "key": "Preview|rich_text",
              "textContent": "={{ $json.preview }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        8352,
        3488
      ],
      "id": "f9958ad2-ff7c-4d28-b90c-cdb312a6fce8",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "5Y1pjUrEsph9KIVc",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b1f00003-0000-4000-8000-000000000003",
              "leftValue": "={{ $json.operation }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8128,
        3392
      ],
      "id": "7443fc3e-7d42-4c5f-8402-3e484d16ca4d",
      "name": "Route Create vs Update"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5888,
        3296
      ],
      "id": "d5d2bb5b-17f5-4a86-b12f-ticketmaster-loop",
      "name": "Loop Over Ticketmaster Windows"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7008,
        3296
      ],
      "id": "97b53345-07e4-4999-ae0d-ticketmaster-wait",
      "name": "Wait Between Ticketmaster Requests",
      "webhookId": "ticketmaster-rate-limit-wait"
    },
    {
      "parameters": {
        "jsCode": "// Reduce each Ticketmaster page to compact event records before the loop stores output.\n// This keeps the later matching node from loading full raw Ticketmaster responses.\nconst response = $input.first().json;\nconst events = response._embedded?.events || [];\nif (events.length === 0) {\n  return [{ json: { __ticketmasterLoopControl: true, reason: 'empty_ticketmaster_page' } }];\n}\n\nfunction compactEvent(ev) {\n  return {\n    id: ev.id,\n    name: ev.name || null,\n    url: ev.url || null,\n    date: ev.dates?.start?.dateTime || ev.dates?.start?.localDate || null,\n    status: ev.dates?.status?.code || null,\n    attractions: (ev._embedded?.attractions || []).map(a => ({ name: a.name || null })).filter(a => a.name),\n    venue: (() => {\n      const venue = ev._embedded?.venues?.[0] || {};\n      return {\n        name: venue.name || null,\n        city: venue.city?.name || null,\n        state: venue.state?.stateCode || null,\n        latitude: venue.location?.latitude || null,\n        longitude: venue.location?.longitude || null,\n      };\n    })(),\n    priceMin: ev.priceRanges?.[0]?.min ?? null,\n    priceMax: ev.priceRanges?.[0]?.max ?? null,\n  };\n}\n\nreturn events.map(ev => ({ json: compactEvent(ev) }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6336,
        3296
      ],
      "id": "b1488db0-3759-4f97-bb97-ticketmaster-compact",
      "name": "Compact Ticketmaster Events"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get the recently played tracks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fave Artist Long Term",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fave Artist Medium Term",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fave Artist Short Term",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Ticketmaster Search Windows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the recently played tracks": {
      "main": [
        [
          {
            "node": "Merge Spotify Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fave Artist Medium Term": {
      "main": [
        [
          {
            "node": "Merge Spotify Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fave Artist Long Term": {
      "main": [
        [
          {
            "node": "Merge Spotify Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Fave Artist Short Term": {
      "main": [
        [
          {
            "node": "Merge Spotify Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Request Bandsintown Evens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Bandsintown Evens": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Spotify Data": {
      "main": [
        [
          {
            "node": "Build Artist Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TicketMaster Request": {
      "main": [
        [
          {
            "node": "Compact Ticketmaster Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Concerts to Artists": {
      "main": [
        [
          {
            "node": "Wait Between Ticketmaster Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Concerts": {
      "main": [
        [
          {
            "node": "Setlist Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & De-dupe": {
      "main": [
        [
          {
            "node": "Has New Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Alerts?": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Prep": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Prep": {
      "main": [
        [
          {
            "node": "Route Create vs Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setlist Prep": {
      "main": [
        [
          {
            "node": "Setlist.fm Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setlist.fm Request": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Request": {
      "main": [
        [
          {
            "node": "Attach Previews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Previews": {
      "main": [
        [
          {
            "node": "Get Notion Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notion Pages": {
      "main": [
        [
          {
            "node": "Filter & De-dupe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calendar Prep",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Create vs Update": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Artist Profile": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ticketmaster Search Windows": {
      "main": [
        [
          {
            "node": "Loop Over Ticketmaster Windows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Ticketmaster Windows": {
      "main": [
        [
          {
            "node": "Score Concerts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TicketMaster Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Ticketmaster Requests": {
      "main": [
        [
          {
            "node": "Loop Over Ticketmaster Windows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compact Ticketmaster Events": {
      "main": [
        [
          {
            "node": "Match Concerts to Artists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": -1
  },
  "versionId": "114d2be9-e5c4-475e-b63a-68325fa028c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e76c71c99645109aec7e39fa4c33cdf40c88a2bf41ffac722edec50922f704ca"
  },
  "id": "WmWnLoreicyMTUMK",
  "tags": []
}
